fastapi==0.92.0
mtcnn_opencv==1.0.2
numpy==1.23.5
opencv_python==4.7.0.68
Pillow==9.4.0
tensorflow==2.11.0
tensorflow_intel==2.11.0
torch==1.13.1
torchvision==0.14.1
ultralytics==8.0.43
uvicorn==0.20.0
