#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}



input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

input:focus+label {
  outline: 2px solid;
}

.custom-file-upload, #RunButton{
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  color: black;
}

.custom-file-upload:hover,
#RunButton:hover {
  background-color: rgb(56, 66, 65);
  color: white;
}

input[type="radio"] {
  margin: 0.4rem;
}


@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Vazir-Regular.eot");
  src: url("fonts/Vazir-Regular.woff") format("woff"),
    url("fonts/Vazir-Regular.ttf") format("ttf"),
    url("fonts/Vazir-Regular.woff2") format("woff2");
}

body {
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}

#column-orginal {
  font-family: vazir;
  direction: rtl;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

textarea {
  color: rgb(37, 26, 26);
}